.profile-container {
    max-width: 600px;
    // margin-top: 40px;
    .profile-content {
        .form-text-item {
            margin: 0;
        }
        .profile-form-button {
            width: 100%;
        }
    }
}